.pp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(10, 10, 30, 1) 0%,
    rgba(20, 20, 70, 1) 50%,
    rgba(30, 30, 100, 1) 100%
  );
  transition: transform 0.5s ease; /* transform을 사용한 애니메이션 효과 */
}

.moveUp {
  transform: translateY(-100%); /* 위로 이동 */
}

.firstGif {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.letter {
  z-index: 200;
  width: 400px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  z-index: 200;
  opacity: 0;
  transition: opacity 500ms ease-in;
  white-space: pre-line;
  user-select: none;
}

.text.show {
  opacity: 1;
}

.text-line {
  margin: 10px 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  user-select: none;
}

.imageButton {
  width: 200px;
  height: auto;
  cursor: pointer;
}

.thirdText {
  position: absolute;
  bottom: 20%; /* 배경의 중앙에 위치하도록 조정 */
  left: 50%;
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  opacity: 1; /* 보이게 설정 */
  transition: opacity 0.5s ease; /* 애니메이션 효과 */
}

.third-text.show {
  opacity: 0;
}

.allCt {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 수직 방향으로 배치 */
  gap: 10rem;
}

@media (max-width: 1024px) {
  .imageButton {
    width: 150px;
    height: auto;
    cursor: pointer;
  }
}

@media (max-width: 800px) or (max-height: 800px) {
  .imageButton {
    width: 100px;
    position: absolute;
    right: -160px;
    bottom: 0;
  }

  .text {
    font-size: 28px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    z-index: 200;
  }
}
