.Youtube-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 30;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 590px;
  width: 900px;
  z-index: 40;
}

.player iframe {
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-ended-image {
  text-align: center;
  position: absolute;
  width: 200px;
  bottom: -300px;
  right: 200px;
  margin-top: 20px;
  z-index: 600;
}

.video-ended-image img {
  max-width: 100%;
  height: auto;
}

.last {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 400;
}

.player.last-background {
  top: 65%;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.last-background iframe {
  position: absolute;
  width: 10%;
  height: 20%;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 16px;
}

/* Home.css */
.ms-container {
  position: absolute;
  top: 2px;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  z-index: 300;
}

.ms-container:hover {
  z-index: 1;
}

.ms-item {
  font-size: 24px;
  font-weight: bold;
  width: 500px;
  color: #ffffff;
  z-index: 300;
  text-shadow: 3px 1px 2px #373584;
  /* opacity: 1; */
  animation: fade-in-out 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 2560px) {
  .video-ended-image {
    bottom: -300px;
    right: 500px;
  }
}

@media (max-width: 1024px) {
  .player {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .video-ended-image {
    text-align: center;
    position: absolute;
    width: 100px;
    top: 65px;
    right: 60px;
    z-index: 400;
  }

  .video-ended-image img {
    max-width: 100%;
    height: auto;
  }

  .ms-item {
    font-size: 16px;
    padding: 1rem;
    margin: 1rem;
  }
}
