@font-face {
  font-family: "강원교육현옥샘";
  font-weight: normal;
  src: url("./assets/강원교육현옥샘.woff2") format("woff2"),
    url("./assets/강원교육현옥샘.woff") format("woff"),
    url("./assets/강원교육현옥샘.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "강원교육현옥샘", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html,
body li {
  list-style: none;
  text-decoration: none;
}
